/*
.dust {
    perspective: 1px;
    height: 100vh;
    width: 100vw;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.dust-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dust-layer:first-child {
    transform: translateZ(0);
}

.dust-layer:last-child {
    transform: translateZ(-1px) scale(2);
}

i {

}

i:before {
    content: ".";
    font-style: normal;
    font-size: 100px;
    color: gray;
}

.bacteria__checkbox {
    position: absolute;
    top: -9999px;
    left: -9999px;
    margin: 0px;
    padding: 0px;
}

.bacteria__label {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: 4vm;
    font-size: 4vmin;
    cursor: pointer;
    position: absolute;
    width: 14vmin;
    height: 10vmin;
    top: -5vmin;
    left: -7vmin;
    text-align: center;
    background-color: aqua;
    line-height: 9vmin;
    border-radius: 5vmin;
}


/* Default State
.bacteria__dialog {
    display: none;
    margin: 0px;
    position: absolute;
    width: 20vmin;
    top: -12vmin;
    left: -3vmin;
    text-align: center;
    font-size: 2.5vmin;
    line-height: initial;
}

.bacteria__checkbox:checked + .bacteria__label {
   pointer-events: none;
   background-color: red;
}

.bacteria__checkbox:checked + .bacteria__label > .bacteria__dialog {
    display: inline-block;
    -webkit-animation: speak 200ms ease-out 1;
    -moz-animation: speak 200ms ease-out 1;
    -ms-animation: speak 200ms ease-out 1;
    animation: speak 200ms ease-out 1;
}

@keyframes speak {
    0% { transform: translateY(4vmin); opacity: 0;}
    100% {  transform: translateY(0vmin); opacity: 1; }
}

@-webkit-keyframes speak {
    0% { transform: translateY(4vmin); opacity: 0;}
    100% {  transform: translateY(0vmin); opacity: 1; }
}

/*.bacteria__checkbox:checked + .bacteria__label > .bateria__dialog {
   display: inline-block;
}

.overlay-container {
    position: fixed;
    top: -5vmin;
    left: -5vmin;
    display: flex;
    width: 100vw;
    justify-content: center;
    height: 100%;
    pointer-events: none;
    filter: blur(15px);
    -webkit-filter: blur(15px);
    border: 5vmin black solid;
    display: none;
}

.overlay-container:focus {
    border 5min black solid;
}
.overlay-border {
    height: 100%;
    background-color: black;
    flex: 1 0 auto;
}

.overlay{
    position: relative;
    width: 100vmin;
    height: 100%;
    overflow: hidden;
    flex: 0 0 auto;
}
.overlay:after{
    content: "";
    position: absolute;
    left: 12vmin;
    top: 10vmin;
    border-radius: 100%;
    width: 75vmin;
    height: 75vmin;
    box-shadow: 0px 0px 0px 200vmin black;
}*/

html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 1000%;
    width: 1000%;
    margin: 0px;
    position: relative;
    background-color: #EFF7EF;
}

.dust--bg,
.dust--fg,
.dish-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
}

.dust--bg,
.dust--fg {
    pointer-events: none;
}

.dish-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dish {
    flex: 0 0 90%;
    height: 90%;
    background-color: lightblue;
    position: relative;
}

.bacteria__checkbox {
    position: absolute;
    top: -99999px;
    left: -99999px;
    margin: 0px;
    padding: 0px;
}

.bacteria__label {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: 4vmin;
    cursor: pointer;
    position: absolute;
    width: 1.11%;
    height: 1.11%;
    left: -0.55%;
    top: -0.55%;
    text-align: center;
    background-color: lightsalmon;
    border-radius: 5vmin;
}

/* Default State */
.bacteria__dialog {
    display: none;
    margin: 0px;
    position: absolute;
    width: 200%;
    top: -12vmin;
    left: -50%;
    text-align: center;
    font-size: 2.5vmin;
    line-height: initial;
}

.bacteria__checkbox:checked + .bacteria__label {
   pointer-events: none;
   background-color: red;
}

.bacteria__checkbox:checked + .bacteria__label > .bacteria__dialog {
    display: inline-block;
    -webkit-animation: speak 200ms ease-out 1;
    -moz-animation: speak 200ms ease-out 1;
    -ms-animation: speak 200ms ease-out 1;
    animation: speak 200ms ease-out 1;
}

@keyframes speak {
    0% { transform: translateY(4vmin); opacity: 0;}
    100% {  transform: translateY(0vmin); opacity: 1; }
}

@-webkit-keyframes speak {
    0% { transform: translateY(4vmin); opacity: 0;}
    100% {  transform: translateY(0vmin); opacity: 1; }
}
