html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #EFF7EF;
    margin: 50vh 50vw;
    height: 1000vm;
    height: 1000vmin;
    width: 1000vm;
    width: 1000vmin;
    position: relative;
}

h1 {
    margin: 0px;
    padding: 0px;
}

.dust {
    color: #DBDBDB;
    -webkit-animation: dust 3s ease-in-out infinite;
    -moz-animation: dust 3s ease-in-out infinite;
    -ms-animation: dust 3s ease-in-out infinite;
    animation: dust 3s ease-in-out infinite;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    font-size: 3vmin;
    display: inline-block;
    display: none;
}

.bacteria__checkbox {
    position: absolute;
    top: -9999px;
    left: -9999px;
    margin: 0px;
    padding: 0px;
}

.bacteria__label {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: 4vm;
    font-size: 4vmin;
    cursor: pointer;
    position: absolute;
    width: 14vmin;
    height: 10vmin;
    top: -5vmin;
    left: -7vmin;
    text-align: center;
    background-color: aqua;
    line-height: 9vmin;
    border-radius: 5vmin;
}


/* Default State */
.bacteria__dialog {
    display: none;
    margin: 0px;
    position: absolute;
    width: 20vmin;
    top: -12vmin;
    left: -3vmin;
    text-align: center;
    font-size: 2.5vmin;
    line-height: initial;
}

.bacteria__checkbox:checked + .bacteria__label {
   pointer-events: none;
   background-color: red;
}

.bacteria__checkbox:checked + .bacteria__label > .bacteria__dialog {
    display: inline-block;
    -webkit-animation: speak 200ms ease-out 1;
    -moz-animation: speak 200ms ease-out 1;
    -ms-animation: speak 200ms ease-out 1;
    animation: speak 200ms ease-out 1;
}

@keyframes speak {
    0% { transform: translateY(4vmin); opacity: 0;}
    100% {  transform: translateY(0vmin); opacity: 1; }
}

@-webkit-keyframes speak {
    0% { transform: translateY(4vmin); opacity: 0;}
    100% {  transform: translateY(0vmin); opacity: 1; }
}

/*.bacteria__checkbox:checked + .bacteria__label > .bateria__dialog {
   display: inline-block;
}*/

.overlay-container {
    position: fixed;
    top: -5vmin;
    left: -5vmin;
    display: flex;
    width: 100vw;
    justify-content: center;
    height: 100%;
    pointer-events: none;
    filter: blur(15px);
    -webkit-filter: blur(15px);
    border: 5vmin black solid;
}

.overlay-container:focus {
    border 5min black solid;
}
.overlay-border {
    height: 100%;
    background-color: black;
    flex: 1 0 auto;
}

.overlay{
    position: relative;
    width: 100vmin;
    height: 100%;
    overflow: hidden;
    flex: 0 0 auto;
}
.overlay:after{
    content: "";
    position: absolute;
    left: 12vmin;
    top: 10vmin;
    border-radius: 100%;
    width: 75vmin;
    height: 75vmin;
    box-shadow: 0px 0px 0px 200vmin black;
}






@keyframes dust {
    from {transform:translate(0, 0px);}
    25% {transform:translate(5px, 2px)}
    65% {transform:translate(3px, 5px);}
    to {transform:translate(0, 0px);}
}

@-webkit-keyframes dust {
    from {-webkit-transform:translate(0, 0px);}
    25% {-webkit-transform:translate(5px, 2px)}
    65% {-webkit-transform:translate(3px, 5px);}
    to {-webkit-transform:translate(0, 0px);}
}

@-moz-keyframes dust {
    from {-moz-transform:translate(0, 0px);}
    25% {-moz-transform:translate(5px, 2px)}
    65% {-moz-transform:translate(3px, 5px);}
    to {-moz-transform:translate(0, -0px);}
}

@-ms-keyframes dust {
    from {-ms-transform:translate(0, 0px);}
    25% {-ms-transform:translate(5px, 2px)}
    65% {-ms-transform:translate(3px, 5px);}
    to {-ms-transform:translate(0, -0px);}
}
