html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 1000%;
    width: 1000%;
    margin: 0px;
    position: relative;
    background-color: #EFF7EF;
}

i {
    position: absolute;
    font-size: 150px;
    color: gray;
    -webkit-filter: blur(2px);
}

i:after {
    content: ".";
}

h1 {
    color: white;
    flex: 0 0 auto;
    z-index: 1;
    font-family: monospace;
    -webkit-margin-before: 5%;
    -webkit-margin-after: 5%;
    font-weight: 100;
}
