.dust-layer {
    height: 100%;
    width: 100%;
    position: absolute;
}

.dust-layer {
    pointer-events: none;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.dust-layer > div {
    text-align: center;
    position: relative;
    flex: 0 0 20%;
}
