.a {left:92%;top:59%;}
.b {left:70%;top:77%;}
.c {left:38%;top:49%;}
.d {left:40%;top:68%;}
.e {left:28%;top:46%;}
.f {left:53%;top:67%;}
.g {left:10%;top:78%;}
.h {left:4%;top:44%;}
.i {left:83%;top:2%;}
.j {left:31%;top:33%;}
.k {left:87%;top:39%;}
.l {left:59%;top:55%;}
.m {left:74%;top:65%;}
.n {left:52%;top:42%;}
.o {left:87%;top:77%;}
.p {left:35%;top:97%;}
.q {left:2%;top:4%;}
.r {left:28%;top:62%;}
.s {left:48%;top:3%;}
.t {left:70%;top:19%;}
.u {left:4%;top:18%;}
.v {left:79%;top:89%;}
.w {left:78%;top:34%;}
.x {left:16%;top:39%;}
.y {left:26%;top:80%;}
.z {left:99%;top:99%;}
