.a {left:37%;top:97%;}
.b {left:37%;top:29%;}
.c {left:93%;top:45%;}
.d {left:13%;top:55%;}
.e {left:38%;top:16%;}
.f {left:43%;top:74%;}
.g {left:5%;top:48%;}
.h {left:81%;top:65%;}
.i {left:85%;top:29%;}
.j {left:23%;top:16%;}
.k {left:3%;top:13%;}
.l {left:75%;top:18%;}
.m {left:71%;top:99%;}
.n {left:89%;top:13%;}
.o {left:71%;top:75%;}
.p {left:53%;top:77%;}
.q {left:41%;top:63%;}
.r {left:53%;top:67%;}
.s {left:75%;top:44%;}
.t {left:94%;top:24%;}
.u {left:95%;top:84%;}
.v {left:21%;top:85%;}
.w {left:5%;top:80%;}
.x {left:21%;top:33%;}
.y {left:33%;top:70%;}
.z {left:24%;top:1%;}
