.a {left:24%;top:51%;}
.b {left:57%;top:71%;}
.c {left:40%;top:88%;}
.d {left:10%;top:51%;}
.e {left:43%;top:11%;}
.f {left:1%;top:35%;}
.g {left:78%;top:79%;}
.h {left:80%;top:57%;}
.i {left:21%;top:13%;}
.j {left:66%;top:58%;}
.k {left:32%;top:81%;}
.l {left:55%;top:78%;}
.m {left:16%;top:30%;}
.n {left:4%;top:93%;}
.o {left:0%;top:12%;}
.p {left:24%;top:75%;}
.q {left:0%;top:64%;}
.r {left:25%;top:96%;}
.s {left:6%;top:86%;}
.t {left:34%;top:14%;}
.u {left:84%;top:99%;}
.v {left:85%;top:26%;}
.w {left:99%;top:92%;}
.x {left:71%;top:22%;}
.y {left:14%;top:66%;}
.z {left:72%;top:93%;}
