.endgame {
    display: none;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
    word-wrap: break-word;
}

.endgame a {
    color: white;
}

.endgame-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.endgame-options > * {
    flex: 0 0 40%;
}

.tutor:checked ~ .friend:checked ~ .friend:checked ~ .friend:checked ~ .endgame {
    display: flex;
    -webkit-animation: win 200ms ease-out 1;
    -moz-animation: win 200ms ease-out 1;
    -ms-animation: win 200ms ease-out 1;
    animation: win 200ms ease-out 1;
}

@keyframes win {
    0% { transform: translateY(0.5vmin); opacity: 0;}
    100% {  transform: translateY(0vmin); opacity: 1; }
}

@-webkit-keyframes win {
    0% { transform: translateY(0.5vmin); opacity: 0;}
    100% {  transform: translateY(0vmin); opacity: 1; }
}
